<div class="container min-vh-100 d-flex justify-content-center">
  <div id="clearance" class="sign-in w-100" style="max-width: 400px;">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center mb-4"><%= t(".title") %></h2>
        <%= render partial: '/sessions/form' %>
      </div>
    </div>
  </div>
</div>

